# Project exclude paths
/models/data/
models/unet_from_scratch/saved_images
models/unet_from_scratch/saved_2
/venv/
models/unet_from_scratch/checkpoint.pth.tar
/models/unet_from_scratch/validate/
/models/unet_from_scratch/first_example_saved_img/
/models/unet_from_scratch/unet_from_scratch_saved_photos/
/models/unet_from_scratch/unet_resnet_saved_photos/
